Repository tecch-wiz/hintents: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-vet, cargo-fmt, cargo-fmt-check, cargo-clippy

.pre-commit-config.yaml:

# Pre-commit hooks for strict formatting and linting
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # ──────────────────────────────────────────────
  # Go formatting: gofmt + goimports (auto-fix)
  # ──────────────────────────────────────────────
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-fmt
        name: gofmt (auto-format)
        description: Runs gofmt and auto-formats Go files

      - id: go-imports
        name: goimports (auto-format)
        description: Runs goimports to fix imports and formatting in Go files

  # ──────────────────────────────────────────────
  # Go linting: golangci-lint (strict)
  # ──────────────────────────────────────────────
  - repo: https://github.com/golangci/golangci-lint
    rev: v1.61.0
    hooks:
      - id: golangci-lint
        name: golangci-lint (strict)
        args:
          - --config=.golangci.yml
          - --max-issues-per-linter=0
          - --max-same-issues=0

  # ──────────────────────────────────────────────
  # Local hooks: go vet, cargo fmt, cargo clippy
  # ──────────────────────────────────────────────
  - repo: local
    hooks:
      - id: go-vet
        name: go vet
        entry: go vet ./...
        language: system
        pass_filenames: false
        files: \.go$

      - id: cargo-fmt
        name: cargo fmt (auto-format)
        entry: bash -c 'cd simulator && cargo fmt'
        language: system
        pass_filenames: false
        files: \.rs$
        description: Runs cargo fmt to auto-format all Rust files in simulator/

      - id: cargo-fmt-check
        name: cargo fmt --check (verify)
        entry: bash -c 'cd simulator && cargo fmt --check'
        language: system
        pass_filenames: false
        files: \.rs$
        stages: [pre-push]
        description: Verifies Rust formatting on push (strict gate)

      - id: cargo-clippy
        name: cargo clippy (strict)
        entry: bash -c 'cd simulator && cargo clippy --all-targets --all-features -- -D warnings -D clippy::all -D unused-variables -D unused-imports -D unused-mut -D dead-code -D unused-assignments -W clippy::pedantic -W clippy::nursery'
        language: system
        pass_filenames: false
        files: \.rs$

feat(audit): add --dry-run pre-sign validation flow
  src/commands/__tests__/audit.sign.spec.ts
  src/commands/audit.ts
Due: none

test(ci): add cross-platform binary CLI integration matrix
  .github/workflows/ci.yml
  tests/cli_surface_integration_test.go
Due: go-vet

fix: add SDK middleware types and injection support to RPC client
  docs/ARCHITECTURE.md
  src/config/rpc-config.ts
  src/rpc/fallback-client.ts
  src/xdr/__tests__/middleware.spec.ts
  src/xdr/types.ts
Due: none

refactor: add compile-time interface compliance checks
  internal/authtrace/custom_auth.go
  internal/plugin/plugin_test.go
  internal/rpc/method_telemetry.go
  internal/simulator/mock_runner.go
  internal/terminal/ansi.go
  internal/terminal/mock.go
Due: go-vet

feat: Add Ed25519 signature verification mocking in Simulator
  simulator/src/main.rs
  simulator/src/test.rs
  simulator/src/types.rs
  simulator/tests/signature_verification_mock_test.rs
Due: cargo-fmt, cargo-fmt-check, cargo-clippy

feat: Add dark mode support to the exported SVG Flamegraph
  internal/cmd/debug.go
  internal/visualizer/flamegraph.go
  internal/visualizer/flamegraph_test.go
Due: go-vet
